body {
  background-color: rgba(211, 211, 211, 0.358);
}

.cv-top-section {
  padding: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
.cv-section {
  border: 3px solid black;
  padding: 10px;
  max-width: 600px;
  margin: 20px auto;
}

.profile-image {
  width: 250px;
  border-radius: 50%;
  border: 3px solid black;
}

a:hover {
  color: blue;
}

footer {
  text-align: center;
}
