body {
  background-color: rgba(211, 211, 211, 0.769);
}

.cv-top-section {
  padding: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
.cv-section {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.508);
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;;
}

a:hover {
  color: blue;
}

footer {
  text-align: center;
}

.linkedin-link {
  text-align: center;
}

/* Flex container for main sections */
.container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 15px;
  justify-content: center;
}
